section {
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  width: 50%;
  height: 100vh;
  overflow-y: auto;
  position: relative;

  background-color: red;
}

.scroll-content {
  height: 600vh; /* Hauteur pour permettre le scroll */
  position: relative;
}

.circle-container {
  position: fixed;
  top: 50%;
  left: -220%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  perspective: 1000px;
  z-index: 1000;
}

.gray-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.1s ease-out;
}

.gray-square {
  position: absolute;
}

.image-square {
  position: absolute;
  width: 512px;
  height: 512px;
  border-radius: 8px;
  
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.square-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: all 0.3s ease;
}

#square-0 {
  z-index: 1;
}

.scroll-indicator {
  position: fixed;
  top: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
}

.container-player {
  height: 100vh;
  width: 50%;
  top: 0;
  right: 0;
  position: fixed;
  background-color: blue;
}
